.playing-card {
    width: 175px;
    height: 175px;
    margin: 5px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
}

body {
    height: 100vh;
    display: flex;
}

.card-section {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}