* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: rgba(93, 93, 226, 0.671);
}

.cards-section {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.playing-card {
    width: 175px;
    height: 175px;
    margin: 5px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.card-back {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: cornflowerblue;
}

.card-front {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
}
